<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color: #f2f2f233;">
    <div class="container">
        <div style="height: 80px;
        text-align: center;
        display: flex;
        justify-content: center; border: unset; margin-top: 30px;">
            <img class="img" src="http://35.193.164.249/src/resoures/logo.png" height="60px" alt="ảnh logo">
        </div>
        <div style="padding: 30px;
        border-radius: 10px;
        border: 2px solid #e0e0e0; background-color: white;">
            <div style="height: 130px;
            text-align: center;
            display: flex;
            justify-content: center; margin-top: 10px;">
                <img src="http://35.193.164.249/src/resoures/email1.png" style="height: 120px;">
            </div>
            <a style="margin-left: 8%; margin-top: 20px; margin-right: 5%; margin-bottom: 20px; display: block;"
                href="http://${req.headers.host}/account/verify?token=${user.token}">Vui lòng nhấn vào đây để xác
                nhận</a>
            <p style="margin-left: 8%;margin-top: 0.1%;margin-right: 5%;height: 30px;"><strong>Cảm ơn bạn đã tham gia
                    website của chúng tôi!</strong></p>
            <p style="margin-left: 8%;margin-right: 10%;height: 50px;">Chúc mừng bạn đã trở thành thành viên của
                <strong>Lê Độ Cinema </strong>- Tích điểm ngay nhận quà liền tay.</p>
            <p style="margin-left: 8%;margin-right: 10%;height: 50px;">Bạn có thể đăng nhập dễ dàng vào tài khoản
                <strong>Lê Độ </strong>- để cập nhật các chương trình ưu đãi đặc biệt dành riêng cho bạn.</p>

            <p style="margin-left: 8%;margin-right: 10%;height: 10px;">Trân trọng,</p>
            <p style="margin-left: 8%;margin-right: 10%;"><strong>The Le Do Cinema team.</strong></p>
            <br />
        </div>
        <div style="text-align: center;
        display: flex; justify-content: center; margin-top: 10px;">
            <p>Bạn chưa có tài khoản? <a href="">Đăng ký tại đây</a></p>
        </div>
    </div>
</body>

</html>